*{
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-columns: 1fr 5.6fr;
  grid-template-rows: 1000px;
  font-family: 'Open Sans', sans-serif;
}

.fas{
  margin-right: 10px;
}
.entire-nav-bar{
  background-color: #3b8fa1;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  color: white;
}

.profile{
  text-align: center;
  padding-bottom: 30px;
}
.profile-pic{
  border-radius: 50%;
  height: 120px;
  margin: 40px;
}


.left-side-nav-container{
  display: grid;
  grid-template-rows: .2fr 1fr;
  grid-template-columns: 1fr;
  padding: 1rem;
  border: solid black .4px;
}

.left-side-nav-content{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 16px;
  height: 100%;
}

.main-bar{
  display: grid;
  grid-template-rows: .6fr 1fr .4fr 2fr 5fr;
}

.main-container{
  border: solid black .5px;
}

.search-container{
  display: grid;
  grid-template-columns: .1fr 1fr .1fr .1fr .1fr;
  grid-template-rows: 1fr;
  padding: 0;
  margin: 0;
}

.search{
  display: flex;
  justify-content: center;
  border-top: solid grey .5px;
  border-bottom: solid grey .5px;
  border-right: solid grey .5px;;
  margin: 0;
  padding: 10px;
  align-items: center;
  height: 100%;
}

.search-bar{
  justify-content: left;
  align-items: center;
}

.customer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}
.customer{
  font-size: 2rem;
  padding: 2px;
}

.preview{
  color: #32c3ee;
  margin-left: 20px;
}

.fa-map-marker-alt{
  margin: 0;
  padding: 0;
}

.customer-right{
  padding: 24px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.customer-right-icon{
  margin: 8px;
  padding: .4rem;
}

.fa-bookmark, .fa-pen, .fa-trash{
  border: #32c3ee solid;
  border-radius: 50%;
  color: #32c3ee;
}
.fa-circle{
  color: #3b8fa1;
  font-size: .8rem;
  border: solid;
  border-radius: 50px;
}

.open{
  color: black;
  font-size: 1.4rem;
}

.summary{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 20%;
}

.circles-container{
  /*background-color: #4dd7ff;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  border: solid black 1px;
}

.circle-section{
  border: solid black .4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-circle{
  fill: none;
  stroke-width: 10px;
  stroke: #d8e1e8;
}

.top-circle{
  fill: none;
  stroke-width: 10px;
  stroke-dasharray: calc(3.14159265358979*120);
  stroke-linecap: round;
}

.top-circle-1{
  stroke-dashoffset: calc(3.14159265358979*120*.25);
  stroke: #3b8fa1;
}

.top-circle-2{
  stroke-dashoffset: calc(3.14159265358979*120*.6);
  stroke: #3b8fb4;
}

.top-circle-3{
  stroke-dashoffset: calc(3.14159265358979*120*.8);
  stroke: #3b8fc1;
}


.circle-svg{
   transform: rotate(90deg);
}

.circle-text{
  font-size: 2rem;
}

.display{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.display-left-container{
  p
}