* {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 230px 1fr;
}

.fas {
  margin-right: 10px;
}

.entire-nav-bar {
  background-color: #354052;
  color: #D3D3D3;
  display: grid;
  grid-template-rows: .8fr 2fr 2fr 2fr;
}

.profile-container {
  padding-bottom: 30px;
  text-align: center;
}
.profile-pic {
  border-radius: 50%;
  height: 100px;
  margin-bottom: 16px;
  margin-top: 30px;
}

.profile-pic:hover {
  cursor: alias;
}

.nav-container {
  border-top:  solid black 2px;
  display: grid;
  font-weight: bold;
  grid-template-columns: 1fr;
  grid-template-rows: .2fr 1fr;
}

.nav-icon {
  font-size: 1.4rem;
  margin-right: 20px;
}

.nav-content {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
}

.nav-label {
  align-items: flex-end;
  display: flex;
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.square1 {
  color: #f4cb00;
}

.square2 {
  color: #26b1fa;
}

.square3 {
  color: #e91c61;
}

.square4 {
  color: #02a988;
}

.icon-container{
  align-items: center;
  border-left: solid transparent 4px;
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
}

.icon-container:hover {
  background-color: black;
  border-left: #17a3fa solid 4px;
  color: white;
  cursor: pointer;
  font-weight: bolder;
}

.icon-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main {
  display: grid;
  grid-template-rows: .4fr 1fr .3fr 2fr 5fr;
}


.search-container{
  border-bottom: solid #d9e3ec 2px;
  border-top: solid #d9e3ec 2px;
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.search-bar-right, .search-bar-left {
  display: flex;
  justify-content: center;
}

.search-hidden {
  margin-left: 4px;
}


.search-bar-icon {
  align-items: center;
  border-left: solid #d9e3ec 2px;
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  width: 80px;
}

.hamburger-icon {
  border-right: solid #d9e3ec 2px;
}

.caret {
  font-size: 16px;
  color: cornflowerblue;
  margin-right: 4px;
}

.hidden-hamburger-icon {
  display: none;
}

.search-bar-icon:hover {
  background-color: #17a3fa;
  color: white;
  cursor: pointer;
}

.search-bar-input {
  align-items: center;
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

.customer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

.customer-left {
  padding: 0;
}

.customer {
  font-size: 2rem;
  margin-bottom: 20px;
}

.san-fran {
  align-items: center;
  color: #6f7e95;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
}

.san-fran-circle {
  font-size: 4px;
}

.preview {
  color: #32c3ee;
}

.preview:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hidden-button {
  display: none;
}

.customer-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
  padding: 24px;
}
.customer-right-icon {
  border-radius: 50%;
  border: #a0a6b4 solid .3px;
  color: #a0a6b4;
  height: 40px;
  margin: 8px;
  padding: .65rem;
  width: 40px;
}

.customer-right-icon:hover {
  background-color: #17a3fa;
  color: white;
  cursor: pointer;
}

.fa-bookmark {
  padding-left: .8rem;
}

.open-button {
  border-radius: 30px;
  border: .5px solid #a0a6b4;
  color: #6f7e95;
  font-size: .8rem;
  height: 40px;
  margin-right: 9px;
  width: 90px;
} 

.open-button:hover {
  background-color: #17a3fa;
  color: white;
  cursor: pointer;
}

.customer-open-icon{
 color: #8ecd4a;
 font-size: .6rem;
}

.summary-container {
  color: #6f7e95;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 20%;
}

.summary-button:hover {
  border-bottom: solid 3px #17a3fa;
  color: black;
  cursor: pointer;
}

.hidden-button:hover {
    cursor: pointer;
  }

.entire-graphics-row {
  background-color: #eef2f6;
  display: flex;
  flex-direction: column;
}

.graphics-circle-container {
  background-color: #eef2f6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 80%;
}

.graphics-bottom-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: space-around;
}

.graphics-button {
  background-color: white;
  border-radius: 50px;
  border: solid black 1px;
  margin-bottom: 16px;
  padding: 10px;
}

.graphics-button:hover {
  font-weight: bold;
  background-color: #7EC7FE;
  cursor: pointer;
  color: white;
}

.graphics-section {
  align-items: center;
  border-top: solid grey .4px;
  display: flex;
  justify-content: center;
}

.bottom-circle {
  fill: none;
  stroke-width: 10px;
  stroke: #d8e1e8;
}

.top-circle {
  fill: none;
  stroke-dasharray: calc(3.14159265358979*120);
  stroke-linecap: round;
  stroke-width: 10px;
}

.top-circle-1 {
  stroke-dashoffset: calc(3.14159265358979*120*.25);
  stroke: #44babe;
}

.top-circle-2 {
  stroke-dashoffset: calc(3.14159265358979*120*.6);
  stroke: #1ca1ee;
}

.top-circle-3 {
  stroke-dashoffset: calc(3.14159265358979*120*.8);
  stroke: #aa5dab;
}

.circle-svg {
   transform: rotate(90deg);
}

.circle-text-number {
  color: #6f7e95;
  font-size: 2rem;
  font-weight: bolder;
}

.circle-text-word {
  font-size: .8rem;
  color: #6f7e95;
}

.hr-line {
  color: #a0a6b4;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

hr {
  border: .4px solid #a0a6b4;
  width: 42%;
}

.table-container {
  background-color: #eef2f6;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.left-table-container {
  background-color: white;
  border-radius: 10px;
  display: grid;
  font-weight: bold;
  grid-template-columns: 160px 1fr; 
  grid-template-rows: repeat(6, 1fr) 2.4fr 1fr 1fr;
  margin: 30px;
  overflow: hidden;
}

.michael-scott {
  border-radius: 50%;
  height: 50px;
  margin-right: 20px;
}

.table-content {
  align-items: center;
  color: #6f7e95;
  display: flex;
  font-size: .8rem;
  justify-content: flex-start;
  margin: 0;
  padding-right: 0px;
  padding: 10px;
  padding: 20px;
}

.description {
  align-items: flex-start;
  margin-top: 30px;
}

.border-right {
  border-bottom: #a0a6b4 solid .1px;
  margin-right: 16px;
}

.border-left {
  border-bottom: #a0a6b4 solid .1px;
  margin-left: 16px;
}

.job-description {
  background-color: #6f7e95;
  color: white;
  font-weight: bolder;
}

.edit-button {
  background-color: #7d8ba6;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.right-chart-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px;
}

.social-media-links {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

.social-button {
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  width: 84%;
}

.social-button:hover {
  background-color: #7EC7FE;
  cursor: pointer;
}

.facebook {
  background-color: #5071b8;
  padding-right: 53px;
}

.twitter {
  background-color: #1da1f2;
  padding-right: 76px;
}

.linkedin {
  background-color: #0077b5;
  padding-right: 59px;
}

.media-links {
  font-size: 10px;
  width: 84%;
}

.copy-button {
  background-color: cornflowerblue;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: none;
  color: white;
  margin: -1px;
  overflow: hidden;
  width: 30%;
}

.copy-button:hover {
  background-color: #7EC7FE;
  cursor: pointer;
}

.media-links-content, .long-description {
  display: inline;
  font-size: .64rem;
  line-height: 1.6;
  margin-right: 40px;
}

.long-description {
  margin-top: 20px;
}

.media-links-title {
  font-size: 1rem;
  font-weight: bold;
}

.link-display {
  background-color: white;
  border-radius: 4px;
  border: transparent 1px solid;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  width: 84%;
}

.social-buttons-line {
  margin-left: 0;
  width: 84%;
}

.link-display-text {
  overflow: hidden;
  padding: 16px 4px 16px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
  body {
    grid-template-columns: .27fr 1fr;
  }

  .icon-container {
    padding: 1rem;
  }
  
  .summary-container {
    margin-right: 0;
  }

 .main {
    grid-template-rows: .3fr 1fr .2fr 3fr 800px;
  }

 .graphics-circle-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

 .graphics-section {
    border: none;
  }

 .customer-container {
    padding-left: 1rem;
  }

 .customer {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .left-table-container {
    grid-template-columns: .8fr 1fr; 
  }
}

@media only screen and (max-width: 1200px) {
  .entire-nav-bar {
    display: none;
  }
  body {
    display: unset;
  }
  .customer {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 750px){
  .main {
    grid-template-rows: .3fr .9fr .5fr 3fr 10fr;
  }

  .search-bar-input {
    font-size: .8rem;
  }

  .summary-button {
    align-items: center;
    justify-content: center;
    padding: 8px;
  }

  .summary-button:hover {
    border-bottom: unset;
  }

  .summary-container {
    background-color: #6f7e95;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
  }

  .hidden-long-description {
    display: none;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .table-content {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .customer-container {
    flex-direction: column;
    justify-content: center;
  }

  .customer-right {
    padding: 10px;
  }

  .social-media-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-button {
    margin: 10px;
    width: 80%;
  }

  .bottom-links{
    height: 190px;
    padding: 20px;
    width: 80%;
  }

  .media-links-title {
    margin-bottom: 20px;
  }

  .social-buttons-line {
    width: 100%;
  }
} 

@media only screen and (max-width: 560px) {
  .main {
    grid-template-rows: 50px 200px 900px 2fr;
  }

  .search-hidden {
    display: none;
    margin-left: 40px;
  }

  .search-bar-icon {
    width: 60px;
  }

  .search-bar-input {
    font-size: 1rem;
  }

  .right-chart-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    margin: 0;
  }

  .customer {
    font-size: 1.24rem;
  }

  .san-fran {
    width: 98%
  }

  .social-media-links {
    flex-direction: row;
    height: unset;
    justify-content: center;
    width: unset;
  }
  
  .hidden-social-media {
    display: none;
  }

  .social-button {
    align-items: center;
    font-size: 3rem;
    height: unset;
    justify-content: center;
    padding: 20px;
    width: 90px;
  }
    
  .bottom-links {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .graphics-bottom-container {
    height: 10%;
    padding: 0;
  }

  .border-right {
    margin-right: 2px;
    border-bottom: #a0a6b4 solid .1px
  }

  .border-left {
    margin-left: 2px;
    border-bottom: #a0a6b4 solid .1px
  }

  .open-button {
    display: none;
  }

  .bar-graph-image {
    width: 80%;
  }

  .media-links-content {
    display: none;
  }

  .media-links-title {
    display: flex;
    justify-content: center;
  }

  .media-links {
    width: 86%;
  }

  .graphics-section {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .hidden-hamburger-icon {
    align-items: center;
    color: grey;
    display: flex;
    font-size: 2rem;
    justify-content: flex-end;
  }

  .summary-container {
    display: none;
  }

  .search-container {
    border-top: solid #d9e3ec 2px;
  }

  .search-bar-icon:hover {
    background-color: unset;
    color: unset;
  }

  .graphics-button {
    font-size: .8rem;
  }
}