*{
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-columns: 260px 1fr;
  /*grid-template-rows: 1000px;*/
  font-family: 'Open Sans', sans-serif;
}

.fas{
  margin-right: 10px;
}
.entire-nav-bar{
  background-color: #354052;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  color: #d8e1e8;
  width: 100%;
}

.profile{
  text-align: center;
  padding-bottom: 30px;
}
.profile-pic{
  border-radius: 50%;
  height: 100px;
  margin-bottom: 16px;
  margin-top: 30px;
}

.left-side-nav-container{
  display: grid;
  grid-template-rows: .2fr 1fr;
  grid-template-columns: 1fr;
  padding: .2rem 1.4rem 1.4rem 1.4rem;
  border: solid black .4px;
  font-weight: bold;
}



.nav-icon {
  margin-right: 20px;
  font-size: 1.4rem;
}


.left-side-nav-content{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
}


.left-side-nav-label{
  margin: 0;
  display: flex;
  align-items: center;
}
/*
.main-label{
  padding: 0;
  padding-top: 24px;
}*/

.left-nav-icon-container{
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
}




.icon-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*margin-left: 10px;*/
}


.red-square{
  color: red;
}
.yellow-square{
  color: yellow;
}

.green-square{
  color: green;
}

.blue-square {
  color: blue;
}



.main-bar{
  display: grid;
  grid-template-rows: .4fr 1fr .4fr 2fr 5fr;
}

.main-container{
  border: solid black .5px;
}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  /*width: 100%;*/
  border: solid grey .4px;
  color: grey;
}

.search-bar-right, .search-bar-left{
  display: flex;
  justify-content: center;
}

.search-bar-right{
  width: 30%;
}
.search-bar-icon{
  display: flex;
  justify-content: center;
  border-top: solid grey .5px;
  border-bottom: solid grey .5px;
  border-right: solid grey .5px;;
  margin: 0;
  padding: 10px;
  align-items: center;
  height: 100%;
  width: 100px;
}

.search-bar-input{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
}

.customer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}
.customer{
  font-size: 2rem;
  padding: 2px;
  margin-bottom: 20px;
}

.preview{
  color: #32c3ee;
  margin-left: 20px;
}

.fa-map-marker-alt{
  margin: 0;
  padding: 0;
}

.customer-right{
  padding: 24px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.customer-right-icon{
  margin: 8px;
  padding: .8rem;
  width: 40px;
  height: 40px;
}

.fa-bookmark, .fa-pen, .fa-trash{
  border: grey solid .5px;
  border-radius: 50%;
  /*color: #32c3ee;*/
  text-align: center;
}
.fa-circle{
  font-size: .8rem;
}

.open{
  color: black;
  font-size: 1.2rem;
}

.customer-open-icon{
  /*width: 100%;
  display: flex;
  padding-top: 16px;
  padding-left: 10px;*/
}

.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 20%;
}

.entire-graphics-row{
  display: flex;
  flex-direction: column;
  background-color: #eef2f6;
  border: solid black .2px;
}

.graphics-top-container{
  background-color: #eef2f6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 80%;
}

.graphics-bottom-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}

.applicants-day-button, .totals-button{
  margin-bottom: 16px;
  padding: 10px;
  border: solid black 1px;
  background-color: white;
  border-radius: 50px;
}

.circle-section{
  border-top: solid grey .4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-circle{
  fill: none;
  stroke-width: 10px;
  stroke: #d8e1e8;
}

.top-circle{
  fill: none;
  stroke-width: 10px;
  stroke-dasharray: calc(3.14159265358979*120);
  stroke-linecap: round;
}

.top-circle-1{
  stroke-dashoffset: calc(3.14159265358979*120*.25);
  stroke: #3b8fa1;
}

.top-circle-2{
  stroke-dashoffset: calc(3.14159265358979*120*.6);
  stroke: #3b8fb4;
}

.top-circle-3{
  stroke-dashoffset: calc(3.14159265358979*120*.8);
  stroke: #3b8fc1;
}


.circle-svg{
   transform: rotate(90deg);
}

.circle-text{
  font-size: 1rem;
}

.main-display-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: #eef2f6;
  /*border: solid 1px black;
  margin: 30px;*/
}

.display-left-container{
  border: solid 1px black;
  border-radius: 20px;
  margin: 30px;
  display: grid;
  grid-template-rows: repeat(6, 1fr) 3fr 1fr 1fr;
  grid-template-columns: 1fr 3fr; 
  background-color: white;
  overflow: hidden;

}

.left-job-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*border-bottom: solid 1px black;*/
  padding: 10px;
  margin: 0;
  color: grey;
  font-size: .8rem;
  padding: 20px;
}

.job-description{
  background-color: grey;
  /*border-radius: 20px;*/
  color: white;
}

.display-right-container{
  /*border: solid 1px black;*/
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*height: 100%;*/
}

.social-media-links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  /*border: solid black 1px;*/
  width: 100%;
  align-items: center;
}

.social-button{
  width: 84%;
  padding: 16px;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.facebook{
   background-color: #5071b8;
   padding-right: 53px;
}

.twitter{
   background-color: #1da1f2;
   padding-right: 76px;
}

.linkedin{
   background-color: #0077b5;
   padding-right: 59px;
}

.job-links{
  width: 84%;
}

.job-box-content{
  line-height: 1.6;
  font-size: .64rem;
}

.job-box-title{
  font-size: 1rem;
  font-weight: bold;
}

.white-box{
  background-color: white;
  padding: 10px;
}